<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.githubuser.moviecatalogue">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieCatalogue"
        android:allowBackup="false">
        <activity
            android:name="com.githubuser.moviecatalogue.ui.favorite.FavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detail.tv.DetailTvShowActivity"
            android:label="@string/title_activity_detail_tv_show"
            android:parentActivityName=".ui.home.HomeActivity"
            android:theme="@style/Theme.MovieCatalogue.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.detail.movie.DetailMovieActivity"
            android:label="@string/title_activity_detail_movie"
            android:parentActivityName=".ui.home.HomeActivity"
            android:theme="@style/Theme.MovieCatalogue.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>